<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>
        <%= title %>
    </title>
    <style>
        /* Si isAdmin est true -> fond Orange, Sinon -> fond Blanc */
        body {
            background-color: <%=isAdmin ? 'orange': 'white' %>;
        }
    </style>
</head>

<body>
    <nav style="background: #eee; padding: 10px;">
        Statut : <%= isAdmin ? 'ADMINISTRATEUR' : 'Visiteur' %>
    </nav>